body {
    background-color: #0ca761;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
    font-family: Arial, sans-serif;
}

section {
  margin: 20px 0;
  padding: 15px 30px 50px 30px;;
  text-align: left;
  background-color: white;

}

nav {
  margin: 20px 0;
}
nav a {
  margin: 0 10px;
  color: red;
}
nav p {
  font-size: 1.3rem;
  font-weight: bold;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

p {
  line-height: 1.6;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

.uno {
    text-align: left;
     border: 10px solid red;
}
.uno p {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;

}
.uno img {
  float: left;
  margin-right: 15px;
  padding: 10px;
  background-color: white;
  border: 10px solid red;
  outline: 10px solid rgb(240, 186, 6);
  outline-offset: -20px;  /*muestra el borde interior*/
}

.dos {
    text-align: right;
    border: 10px solid rgb(240, 186, 6);
}
.dos p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
}

.dos h2 {
    text-align: left;
}

.dos img {
    float: right;
    margin-left: 15px;
    padding: 10px;
    background-color: white;
    border: 10px solid yellow;
    outline: 10px solid rgb(240, 186, 6);
    outline-offset: -20px;
}
